@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
 
 *{
   margin: 0;
   padding: 0;
   font-family: "Asap", sans-serif;
 }

 body::-webkit-scrollbar {
  width: 1px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;  
}

 body{
  background-color: #282c34;
  height: 100%;

 }
 /*Header Section*/
 
.header {
  clear:both;
}

.header .col {
display: block;
float:left;
padding:2%;
}

.header .col:first-child { 
  margin-left: 0; 
}

.header .col1 {
width: 50%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

#header .header .col1 {
  margin-top:10%;
  
  }
.header .col2 {
width: 40%;

}
.header img{
  width: 100%;
  height: 100%;
}

.header .greetings{
  margin-top: 10%;
  text-align: end;
  font-size: 64px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
}

section{
  margin-left: 2%;
}

@media only screen and (max-width: 480px) {
.col {  margin: 1% 0 1% 0%;  margin-left: 0 !important;}
.header .col { width: 100%; }
#tecnologies .header .col1 img{
  display: none;
}
.profiles{
  position: relative;
}


}

/*Tecnologies Section*/

.ttittle-section{
  text-align: left;
}

.tecnologies { 
  display: flex; 
  align-items: center;
  align-content: center;
}

.tecnologies div{
  padding: 2%;

}
.tecnologies .A img{
  width: 32px;
  height: 32px;
}


.progress {
  border: none;
  height: 0.5vh;
  width: 10vw;
  background: rgb(247, 247, 247);
}

.progress {
  color: rgb(255, 255, 255);
}

.progress::-moz-progress-bar {
  background: lightcolor;
}

.progress::-webkit-progress-value {
  background: #26a61f;
}

.progress::-webkit-progress-bar {
  background: rgb(255, 255, 255);
}
.purple::-webkit-progress-value {
  background: #C16EAC !important;
}
.purpledark::-webkit-progress-value {
  background: rgb(119,123,179) !important;
}
.yellow::-webkit-progress-value {
  background: #FFDF00 !important;
}
.green-light::-webkit-progress-value {
  background: #0DA4A5 !important;
}
.red-light::-webkit-progress-value {
  background: #E52A3A !important;
}

/*Profiles Section*/

.profiles{
  position: fixed;
  z-index: 9;
  right: 0;
  bottom: 0;

}
.profiles img{
  width: 32px;
  height: 32px;
  
}
.profiles a{
  margin: 10%;
}


@media only screen and (max-width: 480px) {
  .profiles{
    position: relative;
    text-align: center;
  }
  }
/*Language Section*/


.language { 
  padding: 1%;
  display: flex; 
  align-items: center;
  align-content: center;
}

.language div{
  padding: 1%;
}
.language .A img{
  width: 32px;
  height: 32px;
}

/*Contact Form*/
.contact-form{
  margin-top: 4%;
  align-content: center;

}
.container-contact{
  margin-top: 2%;
}
.country-flag{
  width: 32px;
  height: 32px;
}
.contact-detail ul li i{
  width: 2px;
  height: 2px;
}

/*Handle Language*/
.handleLanguage{
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;

}
.handleLanguage img{
  width: 32px;
  height: 32px;
  padding: 1%;
}

/*
Animations

*/

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

/*swipe me down*/
#notificationBarBottom {
  position: fixed;
  z-index: 101;
  bottom: 0;
  transform: translateY(calc(100% + 10px));
  left: 0;
  right: 0;
  border: 1 thin;
  background: transparent;
  color: #ffffff;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
  box-shadow: 0 0 5px black;
}
@keyframes slideUp {
  0% { transform: translateY(100% + 10px); }
  100% { transform: translateY(0); }
}
#notificationBarBottom {
  animation: slideUp 2.5s ease forwards;
}
#close {
display: none;
}


@keyframes slideDown {
  0% { transform: translateY(0); }
  100% { transform: translateY(100% + 10px); }
}
#notificationBarBottom.hideMe {
  animation: slideDown 2.5s ease forwards;
}