@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
 
 *{
   margin: 0;
   padding: 0;
   font-family: "Asap", sans-serif;
 }
 body{
  background-color: #282c34;
 }
 /*Header Section*/
 
.header {
  clear:both;
}

.header .col {
display: block;
float:left;
padding:2%;
}

.header .col:first-child { 
  margin-left: 0; 
}

.header .col1 {
width: 50%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
.header .col2 {
width: 40%;

}
.header img{
  width: 100%;
  height: 100%;
}

.header .greetings{
  margin-top: 10%;
  text-align: end;
  font-size: 64px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section{
  margin-left: 2%;
}

@media only screen and (max-width: 480px) {
.col {  margin: 1% 0 1% 0%;  margin-left: 0 !important;}
.header .col { width: 100%; }
#tecnologies .header .col1 img{
  display: none;
}


}

/*Tecnologies Section*/

.ttittle-section{
  text-align: left;
}

.tecnologies { 
  display: flex; 
  align-items: center;
  align-content: center;
}

.tecnologies div{
  padding: 2%;

}
.tecnologies .A img{
  width: 32px;
  height: 32px;
}


.progress {
  border: none;
  height: 0.5vh;
  width: 10vw;
  background: rgb(247, 247, 247);
}

.progress {
  color: rgb(255, 255, 255);
}

.progress::-moz-progress-bar {
  background: lightcolor;
}

.progress::-webkit-progress-value {
  background: #26a61f;
}

.progress::-webkit-progress-bar {
  background: rgb(255, 255, 255);
}
.purple::-webkit-progress-value {
  background: #C16EAC !important;
}
.purpledark::-webkit-progress-value {
  background: rgb(119,123,179) !important;
}
.yellow::-webkit-progress-value {
  background: #FFDF00 !important;
}
.green-light::-webkit-progress-value {
  background: #0DA4A5 !important;
}
.red-light::-webkit-progress-value {
  background: #E52A3A !important;
}

/*Profiles Section*/

.profiles{
  position: fixed;
  margin-bottom: 50%;

}
.profiles img{
  width: 32px;
  height: 32px;
  
}
.profiles a{
  margin: 10%;
}
/*Language Section*/


.language { 
  display: flex; 
  align-items: center;
  align-content: center;
}

.language div{
  padding: 2%;

}
.language .A img{
  width: 32px;
  height: 32px;
}



/*
Animations

*/

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}